.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 200px;
}

.movie-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  transition: transform 0.18s ease, box-shadow 0.18s ease;
  margin-top: 50px;
}

.movie-card:hover {
  transform: translateY(-6px);
}

.movie-poster {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.movie-info {
  
   background-color:#aba4a4;
}

.head-btn {
  margin: 0 0 8px;
  color: #222;
}

.movie-meta {
  margin: 4px 0;
  color: #222;
  text-shadow: #222;
  
}

.movie-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.movie-year {
  font-weight: bold;
}

.movie-rating {
  background: #222;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
}
.movidata{
  color: #222;
}