.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
}


.movie-card {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}

/* IMAGE */
.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* INFO PANEL (HIDDEN) */
.movie-info {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #c3d0da, rgba(53, 134, 188, 0.9));
  color: #eaf6ff;
  padding: 25px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SHOW INFO ON HOVER */
.movie-card:hover .movie-info {
  opacity: 1;
  transform: translateY(0);
}

/* OPTIONAL IMAGE EFFECT */
.movie-card:hover .movie-poster {
  filter: blur(2px) brightness(0.6);
}
.star{
  color: gold;
}
.movie-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
